body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#consolidated_power {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.device-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.device-container h2 {
    font-size: 1em;
}

.device-container p {
    font-size: 0.8em;
}

.chart-container {
    margin-top: 20px;
    height: 400px; /* Increase the height for better visibility */
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.not-connected {
    display: none;
    font-size: 2em;
    color: red;
    text-align: center;
    margin-top: 150px; /* Adjust as needed */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.popup-content canvas {
    width: 100% !important;
    height: 100% !important;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.export-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.export-btn:hover {
    background-color: #45a049;
}
